@model (User Users,List<Final_Project_3amal.Models.Service> Services, List<Final_Project_3amal.Models.ImageService> ImageServices, List<Final_Project_3amal.Models.Category> Categories)

@{
    ViewData["Title"] = @Model.Users.FirstName + " " + @Model.Users.LastName;
}

<link rel="stylesheet" href="~/css/profile.css" />

<div class="flex_column width_100">
    <div class="server_info_container">
        <div class="server_info_left">
            <div class="top_info" style="justify-content:flex-start">
                <br />

                <p>Location: @Model.Users.Location</p>
                <p>Birth Date: @Model.Users.BirthDate</p>
                <p>Email: @Model.Users.Email</p>
                <p>Phone: @Model.Users.Phone</p>
                <p>Count services: @Model.Services.Count</p>

            </div>
            <div class="bottom_info">
                <br />
                <div>
                    <img src="@Model.Users.Imagebath" alt="@Model.Users.FirstName @Model.Users.LastName" />
                    <span>@Model.Users.FirstName @Model.Users.LastName</span>
                </div>
            </div>
        </div>
        <div class="server_info">
            <div class="server_info_right">
                <div class="server_info_text">
                    <div class="flex_space_between">
                        <h3 class="orange Suggestions">About me</h3>
                    </div>
                    <br />
                    <p>
                        @Model.Users.AboutUs
                    </p>
                    <br />
                </div>
            </div>
            <div class="server_info_right">

                <div>
                    <br />
                    <h3 class="orange Suggestions">My Services:</h3>
                    <br />
                    <div class="grid Sugistes_services">
                        @if (Model.Services != null && Model.Services.Count > 0)
                        {
                            <script src="~/js/Star.js"></script>

                            @foreach (var service in Model.Services)
                            {
                                <div>
                                    @{
                                        var _ImageService = Model.ImageServices.Where(x => x.ServiceId == service.Id).Select(x => x.ImagePath).ToList();
                                    }
                                    <a asp-action="Index" asp-controller="ServesInfo"
                                       asp-route-id="@service.Id"
                                       asp-route-name="@service.Name"
                                       asp-route-category="@service.Category.Name"
                                       asp-route-categoryid="@service.Category.Id"
                                       asp-route-description="@service.Description"
                                       asp-route-price="@service.Price"
                                       asp-route-ratingAvg="@service.RatingAvg"
                                       asp-route-userid="@service.User.Id"
                                       class="flex_column_left card_services">



                                        @if (_ImageService != null && _ImageService.Count > 0)
                                        {
                                            <img src="@_ImageService[0]" alt="Service Image" />
                                        }

                                        <div class="card_services_text">
                                            <h3 class="orange">@service.Name</h3>
                                            <p>Provider: @service.User.FirstName @service.User.LastName</p>
                                            <p class="category">Category: @service.Category.Name</p>
                                            <div id="star_@service.Id" class="star">
                                                <!-- Stars will be dynamically inserted here -->
                                            </div>
                                            <p>Price: @service.Price</p>
                                        </div>


                                    </a>


                                </div>

                                <script>
                                    // Call setStarRating with the correct rating and unique service ID
                                    setStarRating(@Math.Round(service.RatingAvg, 1), @service.Id);
                                </script>
                            }

                        }
                        else
                        {
                            <p>No services available.</p>
                        }
                    </div>
                </div>
                <br />
            </div>
        </div>
    </div>
</div>
